In [1]:
#imports

import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

from datetime import datetime
from sklearn.metrics import mean_squared_error
from math import sqrt

import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.ticker import StrMethodFormatter
from matplotlib.dates import DateFormatter

import seaborn as sns
from pandas.plotting import register_matplotlib_converters

import statsmodels.api as sm
from statsmodels.tsa.api import Holt

import env
import acquire

In [2]:
df = acquire.get_London_data()

In [3]:
df.head(1)

,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
dt,,,,,,
1743-11-01,7.541,1.753,London,United Kingdom,52.24N,0.00W

In [4]:
df = acquire.prep_london_data(df)

In [5]:
df.head()

            monthly_average_temp  possible_high_temp  possible_low_temp
dt
1752-10-01                 9.573              11.112              8.034
1752-11-01                 7.282               8.648              5.916
1752-12-01                 5.210               6.782              3.638
1753-01-01                 0.875               8.493             -6.743
1753-02-01                 3.743               6.928              0.558

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3131 entries, 1752-10-01 to 2013-08-01
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   monthly_average_temp  3131 non-null   float64
 1   possible_high_temp    3131 non-null   float64
 2   possible_low_temp     3131 non-null   float64
dtypes: float64(3)
memory usage: 97.8 KB

In [ ]:
#Data is split in the practice notebook. 
#Transfer over and explore. 
#Think about visualizing in larger groups of time over time. 
#1 year rolling average, 5 year rolling average, 10 year rolling average.
#Previous Cycle
#I have a hunch those two will be beneficial in forecasting.